<hr>
<div class="footer">
    <p><a href="http://www.opencon2018.org/" target="_blank">OpenCon 2018 Home</a><br>
        <a href="http://www.opencon2018.org/code_of_conduct" target="_blank">Code of Conduct</a><br>
        <a href="http://www.opencon2018.org/privacy" target="_blank">Privacy Policy</a><br>
        <a href="http://www.opencon2018.org/faq" target="_blank">FAQ</a></p>
    <p style="padding-top: 8px"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png"></a></p>
    <br>
    <br>
</div>
