<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title popup-title">Ready to Start</h4>
      </div>
      <div class="modal-body">
        <p>Thanks! You can now start your application. Once you're done, click <strong>Submit</strong> at the bottom of the form to submit your application. Or, if you would like to save your work and finish later, click <strong>Save as Draft</strong>. Note which email address you entered, since you will need it to access your information in the future.</p>
      </div>
      <div class="modal-footer">
        <button type="button" style="width: 5em" class="btn-popup" data-dismiss="modal"
                onclick="remove_overlap()">OK</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
