<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title popup-title">We already received your application!</h4>
      </div>
      <div class="modal-body">
        <p>An application using this email address has already been submitted. Rest assured that your information was successfully received, and a decision will be sent to you by email on or before <strong>August 31</strong>. If you already applied during our general application process and would like your application to be considered for a specific sponsored scholarship, please <a href="http://www.opencon2018.org/faq">contact us</a>.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-popup" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
